@font-face {
  font-family: "Yeonji";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_11@1.0/Yunji.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Yeonji", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
